 


 <form novalidate class="simple-form">
    <!-- <label for="required">Selection Required: </label> -->
    <div class="dropdown">
      <a  data-toggle="dropdown" class="dropdown-toggle">  
        <b class="btn btn-outline-secondary">I need to be a drop down menu!</b>
      </a>
      <ul class="dropdown-menu dropdown-menu-left" id="selectParameter">
        <li>year</li>
        <li>ethnicity</li>
        <li>location</li>
        <li>prison</li>   
        <li>judge</li>
        <li>family</li>
        <li>name</li>
        <li>age</li>
        <li>time served</li>
        <li>number of incarcerations</li>
        <li>highest level of education completed</li>
                       
      </ul>
    </div>