<!-- Login with Google -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-5 whiteOnBlack">
      <h4>visually interact with<br>recidivism rates</h4>
      <button class="btn btn-info yellowButton" ng-click="loginGoogle()">get started</button>
    </div>

    <div class="col-md-5 text-right">
      
<!-- Login with email and password 
      <section class="auth-form">
      <h4>Login/Register with Email</h4>
      <div>
        Email: <input type="text" autofocus="true"  ng-model="account.email">
      </div>
      <div>
        Password: <input type="password" ng-model="account.password">
      </div>
      <div>
        <button class="btn btn-info" ng-click="login()">Login</button>
        <button class="btn btn-default" ng-click="register()">Register</button>
      </div>
      <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
      </div>
      </section> -->
      </div>
  </div> 
</div>