<h2>Create a new search</h2><br>
<h3>**Please select a parameter in the menu provided before entering a search term.</h3><br>
<h4>Click "add" to add new terms to your list. When you've completed your list,<br>- click "Save" to save your list of custom search parameters, or<br>- click "Generate Data Map" to view how your custom search affects recidivism rates!</h4>

 <!--  <fieldset  data-ng-repeat="term in terms">
      <select>
         <option>Match Exactly</option>
         <option>Smart Search</option>

      </select>
      <input type="text" ng-model="term.name" name="" placeholder="Enter keywords">
      <button class="remove" ng-show="$last" ng-click="removeTerm()">-</button>
   </fieldset>
   <button class="addfields" ng-click="addNewTerm()">add additional parameters</button>
       
   <div id="termsDisplay">
      {{ terms }}
   </div>
</div> -->


<!-- <div ng-controller="NewSearchCtrl"> -->

  <form novalidate class="simple-form" input required=true>
    <!-- <label for="required">Selection Required: </label> -->
    <div class="dropdown">
      <a  data-toggle="dropdown" class="dropdown-toggle">
        <button class="btn"></button>
      </a>
      <ul class="dropdown-menu dropdown-menu-left" id="selectParameter" role="menu">
        <li><a tabindex="-1" ng-click="parameter">year</a></li>
        <li><a tabindex="-1" ng-click="parameter">ethnicity</a></li>
        <li><a tabindex="-1" ng-click="parameter">location</a></li>
        <li><a tabindex="-1" ng-click="parameter">prison</a></li>   
        <li><a tabindex="-1" ng-click="parameter">judge</a></li>
        <li><a tabindex="-1" ng-click="parameter('family')">family</a></li>
        <li><a ng-click="parameter('name')">name</a></li>
        <li><a ng-click="parameter('age')">age</a></li>
        <li><a ng-click="parameter('timeServed')">time served</li>
        <li><a ng-click="parameter">number of incarcerations</li>
        <li><a ng-click="parameter">highest level of education completed</a></li>
                       
      </ul>
    </div> 
  
  <input ng-model="newterm">

  <button ng-click='add()'>add</button>
  <br/>
  <b>Search Terms Added Below</b>
  <div ng-repeat='term in terms'>
    <input ng-model='term' id='term-{{$index}}' class='input-{{$index}}'/>
    <button ng-click='del($index)'>delete</button>
  </div>
  <br/>
  <button ng-click='reset()'>RESET search</button>
  <br/>
  <!-- <button ng-click='save($index)'>SAVE this search</button> -->
  <button ng-click="save()" raised>
      {{saveButtonLabel}}
  </button>
</form>
  <br/>






