<h2>Create a new search</h2><br>
<h3>**Please select a parameter in the menu provided before entering a search term.</h3><br>
<h4>Click "add" to add new terms to your list. When you've completed your list,<br>- click "Save" to save your list of custom search parameters, or<br>- click "Generate Data Map" to view how your custom search affects recidivism rates!</h4>

 <!--  <fieldset  data-ng-repeat="term in terms">
      <select>
         <option>Match Exactly</option>
         <option>Smart Search</option>

      </select>
      <input type="text" ng-model="term.name" name="" placeholder="Enter keywords">
      <button class="remove" ng-show="$last" ng-click="removeTerm()">-</button>
   </fieldset>
   <button class="addfields" ng-click="addNewTerm()">add additional parameters</button>
       
   <div id="termsDisplay">
      {{ terms }}
   </div>
</div> -->


<!-- <div ng-controller="NewSearchCtrl"> -->

  <form novalidate class="simple-form" input required=true>
    <!-- <label for="required">Selection Required: </label> -->
    
    <div class="dropdown">
      <input list="parameter" ng-model="parameter"  data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" id="parameter">
        <span id="selectParameter">Select parameter</span><span class="caret"></span>
      </input>
      <ul class="dropdown-menu dropdown-menu-left">
        <li><a class="selectedParameter" tabindex="-1">year</a></li>
        <li><a class="selectedParameter" tabindex="-1">ethnicity</a></li>
        <li><a class="selectedParameter" tabindex="-1">location</a></li>
        <li><a class="selectedParameter" tabindex="-1">prison</a></li>   
        <li><a class="selectedParameter" tabindex="-1">judge</a></li>
        <li><a class="selectedParameter" tabindex="-1">family</a></li>
        <li><a class="selectedParameter" tabindex="-1">name</a></li>
        <li><a class="selectedParameter" tabindex="-1">age</a></li>
        <li><a class="selectedParameter" tabindex="-1">time served</a></li>
        <li><a class="selectedParameter" tabindex="-1">number of incarcerations</a></li>
        <li><a class="selectedParameter" tabindex="-1">highest level of education completed</a></li>
                       
      </ul>
    </div> 
  
  <input ng-model="newTerm">

  <button ng-click='add()'>add</button>
  <br/>
  <b>Search Terms Added Below</b>
  
  <div ng-repeat='searchPair in searchPairs'>
    <input ng-model='searchPair.parameter' id='searchPair[parameter]-{{$searchPairs}}' class='searchPair-{{$searchPairs}}'/>
    <input ng-model='searchPair.newTerm' id='searchPair[newTerm]-{{$searchPairs}}' class='searchPair-{{$searchPairs}}'/>
    <button ng-click='del($index)'>delete</button>
  </div>

  <br/>
  <button ng-click='reset()'>RESET search</button>
  <br/>
  <!-- <button ng-click='save($index)'>SAVE this search</button> -->
  <button ng-click="save()" raised>
      {{saveButtonLabel}}
  </button>
</form>
  <br/>

<li> <a ng-click="createDummyData()" ng-href="#!/data-map" class="btn btn-block btn-default">Generate Map</a></li>






