<h1>Coming Soon....<br>Your Saved Searches</h1>

<h1><br><br><br></h1>

<h3>**Looking back, I really, really enjoyed formating the data for each newSearch,<br>I only wish I had accomplished it earlier in the game.
</h3>
<h4>- I didn't account for the problems I would ultimately encounter.</h4>


<div ng-repeat="searchPair in searchPairs | filter: searchText.search">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1"><input type="checkbox" name=""/></div>
      <div class="col-xs-7"><a ng-href="#!/savedObjects/{{searchPair.id}}">
      {{searchPair.object}}</a></div>
      <div class="col-xs-2">One day, I will inject some object properties here.</div>
      <div class="col-xs-1">...Here too!</div>
      <div class="col-xs-1"><button class="btn btn-danger" ng-click="del(searchPair.id)">X</button></div>
    </div>
  </div>
</div>