<h1>Coming Soon....<br>Your Saved Searches</h1>
<br/>
<!-- <div ng-controller="ObjectViewCtrl"></div> -->
<!-- <div ng-controller="NewSearchCtrl"></div> -->
<!-- <div ng-controller="SearchObjectEditCtrl"></div> -->
<div ng-controller="SavedObjectsCtrl"></div> 
<div ng-repeat="searchObject in savedObjects | filter: searchText.search">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1"><input type="checkbox" name=""/></div>
      <div class="col-xs-7"><a ng-href="#!/savedObjects/{{searchObject.id}}">
      {{searchObject.savedObjects}}</a></div>
      <div class="col-xs-2">One day, I will inject some object properties here.</div>
<!--       <div class="col-xs-1">...Here too!</div> -->
      <div class="col-xs-1"><button class="btn btn-danger" ng-click="del(searchObject.id)">X</button></div>
    </div>
  </div>
</div>



